html
  head
    meta( charset='utf-8' )
    meta(author='Ronald Marcel' )
    meta(language='Fr' )
    title Portfolio
    //link(href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href='build/css/ionicons.min.css', rel='stylesheet', type='text/css')
    //link(href='build/onepage-scroll/onepage-scroll.css')
    link(href='build/css/style.css', rel='stylesheet', type='text/css')
    //script(src='build/js/jquery-2.2.4.js')
    //script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
    //script(src='build/js/script.js')
    //script(src='build/js/callinjson.js')
    //script(src='build/onepage-scroll/jquery.onepage-scroll.min.js')
    //script(src='node_modules/progressbar.js/progressbar.min.js')
  body
<!--     .wappers.row -->

        //header.container-fluid
          nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
              ul.nav.navbar-nav
                  -var list = {"home":"#home", "aboutme":"#aboutme", "skill":"#skill", "contact":"#contact"}
                  each link, item in list
                      li.text-capitalize: a(href= link) #{item}

        section#home.container-fluid
            .profil
                .round_outter
                  .round_inner
                    .portrait
                .aboutme
                  span.whoiam Ronald Marcel
                  span.role Front End Developer and Product Designer junior </br> based in Brittany.
                  .separeted
                  ul.social
                      li
                          a.ion-social-github(href="#")
                      li
                          a.ion-social-twitter(href="#")
                      li
                          a.ion-social-linkedin(href="#")
                      li
                          a.ion-social-googleplus(href="#")
            .box.row
              nav#sc3
                //.container-fluid
                ul
                  -var list = {"home":"#home", "about me":"#aboutme", "skill":"#skill", "projects":"#project", "contact":"#contact"}
                  each link, item in list
                      li: a(href= link) #{item}
              .next
                .toggle_next
                  i.ion-ios-arrow-thin-down
                .indication
                  p
                    | ou
                    br
                    | scroller
        section#aboutme.container-fluid
          .row
            .about
              h4 About me
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            .skilldev
              .codedev

            .skilltools
              .tools
                .toolHtml.toolbox
                  .title
                    h4  Html Tools:
                  .list-tools
                    ul
                      li Jade.Js /Pug.Js
                      li Slim Ruby
                .toolCss.toolbox
                  .title
                    h4  Css Tools:
                  .list-tools
                    ul
                      li Bootstrap
                      li Materialize
                .toolJs.toolbox
                  .title
                    h4  Javascript Tools:
                  .list-tools
                    ul
                      li AngularJs 1
                      li Jquery
                      li React
                .toolWorkflow.toolbox
                  .title
                    h4  Workflow Tools:
                  .list-tools
                    ul
                      li Git
                      li Grunt

        section#project
          .wrapper
              .select
                ul.filter
                  -var list = {"all":"all", "development":"development", "design":"design", "ux/ui":"user_x"}
                  each link, item in list
                      li(class= link) #{item}
              .portfolio
                .swap
                  div.sample
                    img
                    h3 zeeze
                    p zezezez
                  div.sample
                    img
                    h3 zezezez
                    p zezezez
                  div.sample
                    img
                    h3 ezeze
                    p zezeze
                  div.sample
                    img
                    h3 ezeze
                    p zezeze
                  div.sample
                    img
                    h3 éé"é"d
                    p fsffefr
                  div.sample
                    img
                    h3 gf""fd"
                    p efzdfd
                  div.sample
                    img
                    h3 é"e"edé
                    p efefzf
                  div.sample
                    img
                    h3 dfdf"fé
                    p élkkll
                  div.sample
                    img
                    h3 dfdf"fé
                    p élkkll
                  div.sample
                    img
                    h3 gf""fd"
                    p efzdfd
                  div.sample
                    img
                    h3 é"e"edé
                    p efefzf
                  div.sample
                    img
                    h3 dfdf"fé
                    p élkkll
                  div.sample
                    img
                    h3 dfdf"fé
                    p élkkll

        section#contact
          .container-contact
            .info_contact
              h2 Restons en contact
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .form_contact
                form(method="POST").form-horizontal
                  .form_group.middle_width
                    input(type="text", placeholder="Prénom").top
                  .form_group.middle_width
                    input(type="text", placeholder="Nom").top
                  .form_group.full_width
                    input(type="email", placeholder="Email")
                  .form_group.full_width
                    textarea(type="text", placeholder="Message")
                  .form_group.full_width
                    button.send Envoyer
