html
  head
    meta( charset='utf-8' )
    meta(author='Ronald Marcel' )
    meta(language='Fr' )
    title Portfolio
    link(href='build/css/style.css', rel='stylesheet', type='text/css')
    link(href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href='build/css/ionicons.min.css', rel='stylesheet', type='text/css')
    link(href='build/css/jquery.fullPage.css')
    script(src='build/js/jquery-2.2.4.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js')
    script(src='build/js/script.js')
    script(src='build/scrollify-master/jquery.scrollify.min.js')
  body

        section#home.home
            .intro_me
                h1.col-lg-12.text-center Ronald</br>Marcel
                h3.col-lg-12.text-center Product Designer </br> Developper Front-End
                p.intro.col-lg-12.text-center Hello! My name is Pierre Nel, and I'm a London-based freelancer. If I'm not freelancing at some of London's finest digital agencies, I'm working remotely on projects for clients all over the world.<br>I have a diverse set of skills, ranging from design, to HTML + CSS + Javascript, all the way to PHP, custom Drupal module development and Linux server administration.
                ul.social.col-lg-12
                    li.col-lg-2.col-lg-offset-2.text-center
                        a.icon.ion-social-github(href="#")
                    li.col-lg-2
                        a.icon.ion-social-twitter(href="#")
                    li.col-lg-2
                        a.icon.ion-social-linkedin(href="#")
                    li.col-lg-2
                        a.icon.ion-social-googleplus(href="#")

                ul.menu.col-lg-12.text-center
                    -var list = {"home":"#home", "about me":"#about", "skill":"#skill", "contact":"#contact"}
                    each link, item in list
                        li.text-capitalize.col-lg-12: a(href= link) #{item}

            .intro_bottom.col-lg-12
                .button#coder.text-capitalize coder
                .button#designer.text-capitalize designer

        section#development.closed_left
            .container-fluid
                .navlist.col-lg-2.col-lg-offset-10
                    ul.nav.nav-pills
                        li all
                        li website
                        li app
                .gallery.col-lg-10.col-lg-offset-1
                    .block.col-lg-3
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}


        section#design.closed_right
            .container-fluid
                .navlist_right.col-lg-2.col-lg-offset-10
                    ul.right.nav.nav-pills
                        li all
                        li website
                        li app
                .gallery.col-lg-10.col-lg-offset-1
                    .block.col-lg-3
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}

                    .block.col-lg-3
                        .box.box_small.col-lg-12
                            .box_img.box_img_small
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
                        .box.box_large.col-lg-12
                            .box_img.box_img_large
                                img(src='ressources/img/13.jpg')
                            .desc
                                .title_project.col-lg-12
                                    h4 Projet 1
                                .details.col-lg-12
                                    p {html} {css3} {js}
        nav
        
        section#about
            .container-fluid
                .row
                    .about_me.col-lg-5.col-lg-offset-4
                        h3 À propos
                        article
                            p Je m'appelle Eric Huguenin, je suis développeur front-end à Paris. J'aide les agences et les startups à concevoir et développer des expériences interactives.
                            p Développeur front-end depuis 5ans, je n'ai pour but que de satisfaire mes clients en créant des sites interactifs dignes de ce nom. L'expérience utilisateur et la qualité sont les maîtres mots pour réaliser vos projets.
        section#skill
        section#contact
            .container-fluid
                #formcontact.row
                    //il pour me contacter il peut entrer une address mail
                      Sont nom et prénom
                      remplir le champs de contact en commençant par:
                      Un objet
                      Le contenu de son message
                    #box_contact.col-lg-12

                        form.col-lg-8(action="send/email.php" method="post")
                            .title
                                p(style="transform: matrix(1, 0, 0, 1, 0, 0);") Envoyer
                            .form-group
                                input.form_input(name="name" type="text" placeholder="Votre nom")
                            .form-group
                                input.form_input(name="email" type="email" placeholder="Votre adresse mail")
                            .form-group
                                input.form_input(name="objet" type="text" placeholder="Le sujet de votre message")
                            .form-group
                                textarea.form_input(name="content" rows="10" placeholder="Votre message")

                        address.coordonnee.col-lg-4
                            p.message Vous avez un projet, besoin d'un conseil ou tout simplement une question à me poser?
                            p ronaldmarcel[at]ronaldmarcel.com

                            button.bt request a quote
                            
        script.
            $(document).ready(function(){
                $.scrollify({
                        section : "#home",
                        section : "#about",
                    });
            });